@import 'ext/solarized-light';

.highlight {
	background-color: #f4f4f4;
	@media (prefers-color-scheme: dark) {
		background-color: #1b1b1e;
	}
}



div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	line-height: 1.4em;
	tab-size: 4;
}