@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

$linkColor: #0a59b0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;
$rightWidth: 220px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}
main {
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 23%;
  @media screen and (min-width: $bigScreenW) {
    max-width: 1440px;
    margin-right: 23%;
  }
  @media screen and (max-width: 1280px) {
    //margin: 0 75px;
    margin-right: 23%;
  }
  @media screen and (max-width: 1024px) {
    //margin: 0 35px;
    margin-right: 23%;
  }

  @media screen and (max-width: $mobileW) {
    flex-direction: column;
    margin: 0;
  }
  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth} -#{$rightWidth});
      width: 100%;
    }
  }
  .about {
    background-color: rgb(61, 79, 93);
    color: #fff;
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;
    @media screen and (max-width: $mobileW) {
      height: auto;
      padding: 3vh 0;
    }
    @media screen and (min-width: $mobileW + 1) {
      position: fixed;
      right: 0;
      z-index: 2;
      width: 23%;
      top: 2%;
      height: auto;
      padding-bottom: 0px;
    }
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 0;
      font-weight: normal;
      & .name {
        color: #fff;
      }
    }
    .tagline {
      color: #b0cadb;
      font-size: 22px;
      margin-top: 17px;
      white-space: pre-wrap;
      line-height: normal;
    }
    img {
      max-width: 150px;
      border-radius: 100px;
    }
  }
  .category {
    background-color: rgb(61, 79, 93);
    padding-left: 1.5%;
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      height: 100%;
      position: fixed;
      right: 0px;
      width: 23%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
    & .category_section {
      @media screen and (max-width: $mobileW ) {
        display: none;
      }
  
      .category_title {
        font-size: 30px;
        color: #fff;
        margin-bottom: 30px;
        line-height: 38px;
      }
  
      & .category_item {
        color: #b0cadb;
        margin-bottom: 16px;
        font-family: "PingFang SC",sans-serif;
        & .name {
          font-size: 20px;
        }
        & .number{
          color: #fff;
          font-size: 16px;
        }
      }
    }
    & .bottom {
      @media screen and (min-width: $mobileW+1 ) {
        position: absolute;
        bottom: 0;
      }
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .tips {
        display: block;
        color: #fff;
        font-size: 20px;
        font-style:italic;
        font-family: "PingFang SC",sans-serif;
      }
    }
  }
}


.copyright {
  @media screen and (min-width: $mobileW+1 ) {
    position: fixed;
    bottom: 0;
  }
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff;
}

.backtop{
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 45px;
  height: 45px;
  z-index: 300;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  transition: opacity .15s ease-in;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  & .back-btn {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}
  }


#title {
  a {
    text-decoration: none;
  }
}
.social {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  li {
    float: left;
    i {
      font-size: 34px;
    }
  }
}

.navigation {
  width: 80%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      font-family: 'Merriweather';
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: $mobileW) {
        padding: 2rem 0;
      }
    }
  }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    padding: 5px 20px;
    border-radius: 2px;
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
    .post-date {
      margin-bottom: 16px;
    }
  }
}
.post-link {
  text-decoration: none;
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
}
.posts,
.post-container {
  list-style-type: none;
  margin: 45px 30px;
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}
.post-container {
  padding-left: 30px;
}
.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;
  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;
    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }
}

.pagination {
  position: relative;
  height: 5em;
  margin: 25px 0px;
  & .guide {
    display: block;
    position: absolute;
    font-size: 13px;
    background: #4d85d1;
    color: #fff;
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    &.next {
      right: 0;
      @media screen and (max-width: $smallMobileW) {
        top: 3em;
      }
      @media screen and (max-width: $mobileW) {
        top: 3em;
      }
    }

  }
}

#posts-label {
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}
